.header-row {
  display: flex;
  flex-direction: row;

  justify-content: space-between;
}

.header-tools {
  display: flex;
  flex-direction: row;
  gap: 0.75rem;
}

h1 {
  margin: 0;
}

button {
  padding: 0.75rem;
  aspect-ratio: 1 / 1;
}
