:host {
  display: flex;
  flex-direction: column;

  height: 100%;
}

.content {
  display: flex;
  justify-content: space-between;

  flex: 1;
}

.global-chat {
  align-self: center;
  background-color: blue;

  width: 20%;
  height: 70%;
}
