@use 'colors';

:host {
  display: flex;
  flex-direction: column;
  flex: 1;
}

nav {
  position: relative;
}

nav::after {
  content: '';
  left: 0;
  bottom: 0;
  position: absolute;
  height: 2px;
  width: 100%;
  background: colors.$border;
  transform-origin: center;
  animation: expand 1.5s ease-out forwards;
}

@keyframes expand {
  from {
    transform: scaleX(0);
  }
  to {
    transform: scaleX(1);
  }
}

.content {
  display: flex;
  flex-direction: row;

  flex: 1;
}

.lobbies {
  flex: 8;
}

.global-chat {
  min-width: 20rem;
  flex: 2;
}
