:host {
  display: flex;
  flex-direction: column;

  padding: 1rem;
}

header {
  display: flex;
  flex-direction: row;

  justify-content: space-between;
}

.search-items {
  display: flex;

  align-items: center;

  gap: 1rem;
}
