@use 'colors';

:host {
  display: flex;
  flex-direction: column;

  height: 100vh;
}

.content {
  display: flex;
  flex-direction: column;
  flex: 1;

  padding: 2rem;
}

section {
  display: flex;
  flex-direction: column;
  flex: 1;
  gap: 0.75rem;
}

.lobby-buttons {
  display: flex;
  flex-direction: row;
  gap: 2rem;
}
