@use 'colors';

body {
  height: 100vh;
  margin: 0;
  padding: 0;
  background-color: black;

  color: colors.$primary-text;

  font-family: 'Main';

  overflow: hidden;
}

// Fonts
@font-face {
  font-family: 'Main';
  src: url('/fonts/main.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Menu-Heading';
  src: url('/fonts/menu-heading.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Page-Heading';
  src: url('/fonts/page-heading.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
