<div class="root-container">
  <div class="content">
    <img
      alt="tikal logo"
      class="logo"
      height="282"
      ngSrc="/images/logo.webp"
      priority
      width="1024"
    />
    <div class="button-container">
      <ng-container *transloco="let t; prefix: 'home'">
        <app-button class="home-screen-button" [disabled]="true"> {{ t('solo') }} </app-button>
        <app-button class="home-screen-button" routerLink="/lobbies">
          {{ t('online') }}
        </app-button>
      </ng-container>
    </div>
  </div>
</div>
