// buttons
$button-outline: rgb(170, 125, 104);

$button-text: rgb(228, 236, 203);

$button-error-main: rgb(113, 40, 41);
$button-error-hover: rgb(133, 49, 48);
$button-error-pressed: rgb(67, 23, 24);

$button-primary-main: rgb(41, 82, 114);
$button-primary-hover: rgb(65, 117, 155);
$button-primary-pressed: rgb(32, 63, 90);
$button-primary-disabled: rgb(20, 39, 52);

// links
$link-text: rgb(185, 188, 194);

// text
$header-text: rgb(228, 236, 203);
$primary-text: rgb(185, 188, 194);
$primary-error: rgb(249, 39, 36);

// decoration
$gradient-start: rgb(52, 63, 76);
$gradient-end: rgba(26, 29, 35);

$header-gradient-start: rgb(23, 65, 78);
$header-gradient-end: rgb(13, 24, 24);
