<ng-container *transloco="let t; prefix: 'lobby.player-list'">
  @for (player of players(); track $index) {
    <div class="player-slot">
      <span class="dot"></span>
      <span>
        {{ player.name }}
        @if (isMe(player)) {
          ({{ t('you-label') }})
        }
      </span>
    </div>
  }
  @for (empty of [].constructor(maxPlayers() - players().length); track $index) {
    <div class="empty-slot">
      <span class="dot"></span>
      @if (isLoading()) {
        <div class="skeleton-bar" [style.width]="55 + ($index % 3) * 15 + '%'"></div>
      } @else {
        <span>{{ t('open-slot') }}</span>
      }
    </div>
  }
</ng-container>
