<ng-container *transloco="let t; prefix: 'chat.header'">
  <p>{{ header() }}</p>
  <div class="header-icons">
    @switch (status()) {
      @case ('Connected') {
        <div class="live-status secondary-status">
          <span class="status-dot on pulse-animation"></span>
          <span>{{ t('connected') }}</span>
        </div>
        <svg lucideWifi [size]="16"></svg>
      }
      @case ('Connecting') {
        <div class="live-status secondary-status">
          <span class="status-dot on pulse-animation"></span>
          <span>{{ t('connecting') }}</span>
        </div>
        <svg lucideWifiOff [size]="16"></svg>
      }
      @case ('Disconnected') {
        <div class="live-status primary-status">
          <span class="status-dot off"></span>
          <span>{{ t('disconnected') }}</span>
        </div>
        <svg lucideWifiOff [size]="16"></svg>
      }
    }
    <svg
      class="clickable-svg"
      lucideX
      tabindex="0"
      [size]="16"
      (click)="closed.emit()"
      (keydown.enter)="closed.emit()"
    ></svg>
  </div>
</ng-container>
