@use 'colors';

:host {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;

  padding: 1rem 1.25rem;

  border-bottom: 1px solid colors.$border;
}

p {
  margin: 0;

  font-family: 'Cinzel', serif;
  font-size: 0.85rem;
  letter-spacing: 0.1rem;
  color: colors.$text-header;
}

svg {
  color: colors.$text-muted;
}

.header-icons {
  display: inline-flex;
  align-items: center;

  gap: 0.75rem;
}

.live-status {
  display: flex;
  align-items: center;

  gap: 0.4rem;

  font-family: 'Mono', monospace;
  font-size: 0.6rem;
}

.secondary-status {
  color: colors.$text-muted;
}

.primary-status {
  color: colors.$text-header;
}

.status-dot {
  width: 0.375rem;
  height: 0.375rem;

  border-radius: 50%;
}

.on {
  background-color: colors.$text-header-prefix;
}

.off {
  background-color: colors.$error;
}
