@use 'colors';

:host {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 1rem;

  font-family: 'Mono', monospace;
}

.players-label {
  font-size: 0.6rem;
  color: colors.$text-muted;
  letter-spacing: 0.1rem;
}

.players-count {
  font-size: 0.75rem;
  color: colors.$text-header;

  svg {
    color: colors.$text-muted;
  }
}
