<ng-container *transloco="let t; prefix: 'lobby.active'">
  <p class="header-prefix">{{ t('header-prefix') }}</p>
  @switch (activeLobbyStore.loadingStatus()) {
    @case ('initial')
    @case ('loading') {
      <h1>{{ t('header-loading') }}</h1>
      <section>
        <app-lobby-player-list-header [maxPlayers]="4" />
        <app-lobby-player-list [isLoading]="true" [maxPlayers]="4" [players]="[]" />
      </section>
    }
    @case ('loaded') {
      @if (activeLobbyStore.lobby(); as lobby) {
        <h1>{{ lobby.name }}</h1>
        <section>
          <app-lobby-player-list-header
            [currentPlayers]="lobby.players.length"
            [maxPlayers]="lobby.maxPlayers"
          />
          <app-lobby-player-list [maxPlayers]="lobby.maxPlayers" [players]="lobby.players" />
        </section>
        <div class="lobby-buttons">
          <button class="button-primary footer-button" type="button">
            {{ t('ready-button') }}
          </button>
          <button
            class="button-secondary footer-button"
            type="button"
            [disabled]="activeLobbyStore.leavingStatus() === 'leaving'"
            (click)="activeLobbyStore.leaveLobby()"
          >
            @if (activeLobbyStore.leavingStatus() === 'leaving') {
              <svg class="spin-animation" lucideLoaderCircle [size]="16"></svg>
              {{ t('leaving-button') }}
            } @else {
              {{ t('leave-button') }}
            }
          </button>
        </div>
      } @else {
        <app-lobby-not-found-overlay />
      }
    }
  }
</ng-container>
