<nav>
  <span></span>
  <span class="logo">TIKAL</span>
  <span></span>
</nav>
<div class="content">
  <p class="header-prefix">ACTIVE LOBBY</p>
  @if (activeLobbyStore.lobby(); as lobby) {
    <h1>{{ lobby.name }}</h1>
    <section>
      <app-lobby-player-list-header [maxPlayers]="lobby.maxPlayers" />
      <app-lobby-player-list [maxPlayers]="lobby.maxPlayers" [players]="lobby.players" />
    </section>
    <div class="lobby-buttons">
      <button class="button-primary footer-button" type="button">READY UP</button>
      <button class="button-secondary footer-button" type="button">LEAVE</button>
    </div>
  }
</div>
