<ng-container *transloco="let t; prefix: 'lobbies.globalChat'">
  @if (globalChatStore.isExpanded()) {
    <div class="expanded">
      <app-global-chat-header />
      <div class="messages">
        @for (message of globalChatStore.messages(); track $index) {
          @if (isOwnMessage(message)) {
            <app-my-chat-message class="my-message">
              {{ message.content }}
            </app-my-chat-message>
          } @else {
            <app-enemy-chat-message class="enemy-message" [username]="message.username">
              {{ message.content }}
            </app-enemy-chat-message>
          }
        }
      </div>
      <form [formRoot]="chatForm">
        <label for="message" hidden>{{ t('message-input-label') }}</label>
        <input
          autocomplete="off"
          id="message"
          type="text"
          [formField]="chatForm.message"
          [placeholder]="t('message-input-placeholder')"
        />
        <button
          class="button-primary"
          type="submit"
          [disabled]="chatForm().invalid() || chatForm().submitting()"
        >
          <svg lucideSendHorizontal [size]="14"></svg>
        </button>
      </form>
    </div>
  } @else {
    <div
      class="collapsed"
      tabindex="0"
      (click)="globalChatStore.expand()"
      (keydown.enter)="globalChatStore.expand()"
    >
      <svg lucideMessageSquare [size]="15"></svg>
    </div>
  }
</ng-container>
