@if (globalChatStore.isExpanded()) {
  <ng-container *transloco="let t; prefix: 'lobbies.globalChat'">
    <div class="expanded">
      <app-chat-header
        [header]="t('header')"
        [status]="globalChatStore.status()"
        (closed)="globalChatStore.collapse()"
      />
      @switch (globalChatStore.status()) {
        @case ('Connected') {
          <app-chat-messages [messages]="globalChatStore.messages()" />
          <app-global-chat-form />
        }
        @case ('Connecting') {
          <app-global-chat-connecting />
        }
        @case ('Disconnected') {
          <app-global-chat-disconnected />
        }
      }
    </div>
  </ng-container>
} @else {
  <div
    class="collapsed"
    tabindex="0"
    (click)="globalChatStore.expand()"
    (keydown.enter)="globalChatStore.expand()"
  >
    <svg lucideMessageSquare [size]="15"></svg>
  </div>
}
