@use 'colors';

:host {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;

  padding: 1rem 1.25rem;

  border-bottom: 1px solid colors.$border;
}

p {
  margin: 0;

  font-family: 'Cinzel', serif;
  font-size: 0.85rem;
  letter-spacing: 0.1rem;
  color: colors.$text-header;
}

.header-icons {
  display: inline-flex;
  align-items: center;
}
