@use 'colors';

:host {
  display: flex;
  flex-direction: column;
  flex: 1;

  justify-content: center;
  align-items: center;
}

.icon-container {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;

  width: 3rem;
  height: 3rem;
}

svg {
  color: colors.$text-muted;
}

.loading-circle {
  position: absolute;
  color: colors.$text-header-prefix;
}

.loading-circle-overlay {
  position: absolute;
}
