@use 'colors';

nav {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;

  padding: 1.25rem 2rem;

  border-bottom: 1px solid colors.$border;
}

.logo {
  font-family: 'Cinzel', serif;
  font-size: 1rem;
  letter-spacing: 0.3rem;

  color: colors.$text-header-prefix;
}
