:host {
  display: flex;
  flex-direction: column;

  padding: 2.5rem 0;
  gap: 0.75rem;

  align-items: center;
  justify-content: center;
  text-align: center;
}

.icon-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;

  width: 3.5rem;
  height: 3.5rem;

  border-radius: 9999px;

  background-color: var(--p-surface-100);

  svg {
    color: var(--p-surface-400);
  }
}

:host-context(.dark) .icon-wrapper {
  background-color: var(--p-surface-800);

  svg {
    color: var(--p-surface-500);
  }
}

.title {
  margin: 0;

  font-weight: 600;
  color: var(--p-surface-900);
}

:host-context(.dark) .title {
  color: var(--p-surface-0);
}

.detail {
  margin-top: 0.5rem;

  font-size: 0.875rem;
  line-height: 1.25rem;
  color: var(--p-surface-500);
}

:host-context(.dark) .detail {
  color: var(--p-surface-400);
}
