<nav>
  <a routerLink="/lobbies">
    <svg lucideArrowLeft [size]="16"></svg>
    BACK TO LOBBIES
  </a>
  <span class="logo">TIKAL</span>
  <span></span>
</nav>
<div class="content">
  <p class="header-prefix">NEW LOBBY</p>
  <form [formRoot]="lobbyForm">
    <label for="name" hidden>Lobbyname</label>
    <input class="header-input" id="name" type="text" [formField]="lobbyForm.name" />
    <div class="players">
      <app-lobby-player-list-header [maxPlayers]="lobbyData().maxPlayers" />
      <app-lobby-player-list [maxPlayers]="lobbyData().maxPlayers" [players]="[defaultPlayer()]" />
    </div>
  </form>
</div>
