@use 'colors';

.content {
  display: flex;
  flex-direction: column;
  flex: 1;

  padding: 2rem;
}

nav {
  border-bottom: 1px solid colors.$border;
}

.header-prefix {
  font-size: 0.7rem;
  letter-spacing: 0.1rem;
}

.header-input {
  height: 1.16em;
  margin: 0 0 2rem 0;
  padding: 0;

  font-family: 'Cinzel', serif;
  font-size: clamp(1.6rem, 3vw, 2.5rem);
  font-weight: 700;
  color: colors.$text-header;

  background: transparent;
  border: none;
  outline: none;
}

.form-sections {
  display: flex;
  flex-direction: row;
  gap: 2.5rem;
}

section {
  display: flex;
  flex-direction: column;
  gap: 0.75rem;
}

.settings-label {
  font-size: 0.6rem;
  font-family: 'Mono', monospace;
  letter-spacing: 0.1rem;
  color: colors.$text-muted;

  padding: 1.5px 0;
}

.settings {
  width: 15rem;

  font-family: 'Mono', monospace;

  background-color: color-mix(in srgb, colors.$card-background 60%, transparent);

  border: 1px solid colors.$border;

  .max-players {
    display: flex;
    flex-direction: row;
  }
}

// add a top border to all children after the first
.settings > :not([hidden]) ~ :not([hidden]) {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: colors.$border;
}
