@use 'colors';

:host {
  display: flex;
  flex-direction: column;
  flex: 1;

  padding: 2rem;
}

.header-prefix {
  font-size: 0.7rem;
  letter-spacing: 0.1rem;
}

h1 {
  margin: 0;

  font-size: clamp(1.6rem, 3vw, 2.5rem);
  font-weight: 700;
  line-height: 1.1;
}

.table-container {
  display: flex;
  flex-direction: column;
  flex: 1;

  overflow-y: auto;
}

table {
  margin-top: 1rem;

  border-collapse: collapse;
  table-layout: fixed;
  width: 100%;
}

tr {
  border-bottom: 1px solid colors.$border;
}

th {
  padding: 0.5rem 1rem;

  font-size: 0.7rem;
  letter-spacing: 0.15rem;
  text-align: start;
}

tr:has(th) {
  font-family: 'Mono', monospace;
  color: colors.$text-muted;
}

td {
  padding: 1rem;

  font-size: 0.9rem;
  font-weight: 500;

  svg {
    margin-right: 0.2rem;

    color: colors.$text-muted;
  }
}

tr:has(td) {
  color: colors.$text-header;

  cursor: pointer;
}

tr:has(td):hover {
  color: colors.$text-header-prefix;

  background-color: color-mix(in srgb, colors.$card-background-secondary 50%, transparent);
}

.lobby-name {
  font-family: 'Cinzel', serif;
}

.players {
  font-family: 'Mono', monospace;
}

.pagination {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;

  font-family: 'Mono', monospace;
  font-size: 0.65rem;
  letter-spacing: 0.1rem;
  color: colors.$text-muted;

  button {
    padding: 0.375rem;
  }

  button:hover {
    svg {
      color: colors.$text-header;
    }
  }
}
