---
# yaml-language-server: $schema=https://json.schemastore.org/github-workflow.json
name: Backend CI/CD

on:
  push:
    paths:
      - Backend/**

jobs:
  format:
    name: Format
    uses: ./.github/workflows/backend-format.yaml
    with:
      project-directory: Backend

  release:
    name: Release
    needs: Format
    permissions:
      contents: write
    if: github.ref == 'refs/heads/main'
    uses: ./.github/workflows/create-release.yaml
    with:
      project-directory: Backend
      project-name: tikal-backend
