---
# yaml-language-server: $schema=https://json.schemastore.org/github-workflow.json
name: Format

on:
  workflow_call:
    inputs:
      project-directory:
        required: true
        type: string

env:
  NUGET_PACKAGES: ${{ github.workspace }}/.nuget/packages

jobs:
  format:
    name: Enforce Formatting
    runs-on: ubuntu-24.04
    steps:
      - name: Checkout
        uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2

      - name: Setup dotnet
        uses: actions/setup-dotnet@baa11fbfe1d6520db94683bd5c7a3818018e4309 # v5.1.0
        with:
          global-json-file: global.json
          cache: true
          cache-dependency-path: "${{ inputs.project-directory }}/**/packages.lock.json"

      - name: Restore projects
        run: dotnet restore ${{ inputs.project-directory }}/**/*.csproj --locked-mode

      - name: Enforce formatting
        run: dotnet format ${{ inputs.project-directory }}/**/*.csproj whitespace --verify-no-changes --no-restore
