---
# yaml-language-server: $schema=https://json.schemastore.org/github-workflow.json
name: Deploy Release

on:
  workflow_call:
    inputs:
      dockerfile:
        required: true
        type: string
      version:
        required: true
        type: string
      project-name:
        required: true
        type: string

env:
  AZ_REGISTRY: "tikalcontainerregistry.azurecr.io"

jobs:
  deploy-release:
    name: Deploy Release
    runs-on: ubuntu-24.04
    steps:
      - name: Checkout
        uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@8d2750c68a42422c14e847fe6c8ac0403b4cbd6f # v3.12.0

      - name: Log in to the Azure Container Registry
        uses: docker/login-action@c94ce9fb468520275223c153574b00df6fe4bcc9 # v3.7.0
        with:
          registry: ${{ env.AZ_REGISTRY }}
          username: ${{ secrets.AZ_SP_CLIENT_ID }}
          password: ${{ secrets.AZ_SP_CLIENT_SECRET }}

      - name: Extract metadata (tags, labels) for Docker
        id: meta
        uses: docker/metadata-action@c299e40c65443455700f0fdfc63efafe5b349051 #v5.10.0
        with:
          images: ${{ env.AZ_REGISTRY }}/${{ inputs.project-name }}
          tags: |
            type=semver,pattern={{version}},value=${{ inputs.version }}

      - name: Build and Push Image
        uses: docker/build-push-action@10e90e3645eae34f1e60eeb005ba3a3d33f178e8 # v6.19.2
        with:
          context: .
          file: ${{ inputs.dockerfile }}
          push: true
          tags: ${{ steps.meta.outputs.tags }}
