---
# yaml-language-server: $schema=https://json.schemastore.org/github-workflow.json
name: Identity CI/CD

on:
  push:
    paths:
      - Identity/**

jobs:
  format:
    name: Format
    uses: ./.github/workflows/backend-format.yaml
    with:
      project-directory: Identity

  unit-tests:
    name: Unit Tests
    needs: Format
    uses: ./.github/workflows/backend-unit-test.yaml
    with:
      project-directory: Identity

  integration-tests:
    name: Integration Tests
    needs: Format
    uses: ./.github/workflows/backend-integration-test.yaml
    with:
      project-directory: Identity

  release:
    name: Release
    needs: [Unit-Tests, Integration-Tests]
    permissions:
      contents: write
    if: github.ref == 'refs/heads/main'
    uses: ./.github/workflows/create-release.yaml
    with:
      project-directory: Identity
      project-name: identity

  migrate:
    name: Migrate
    needs: Release
    if: github.ref == 'refs/heads/main'
    uses: ./.github/workflows/migrate-db.yaml
    secrets: inherit
    with:
      project-directory: Identity
      keyvault-name: tikal-identity-keyvault

  deploy:
    name: Deploy
    needs: [Migrate, Release]
    if: github.ref == 'refs/heads/main'
    uses: ./.github/workflows/deploy-release.yaml
    secrets: inherit
    with:
      dockerfile: ./Identity/Identity.WebHost/Dockerfile
      project-name: identity
      version: ${{ needs.release.outputs.version }}
