---
# yaml-language-server: $schema=https://json.schemastore.org/github-workflow.json
name: Identity CI/CD

on:
  push:
    paths:
      - Identity/**

jobs:
  format:
    name: Format
    uses: ./.github/workflows/backend-format.yaml
    with:
      project-directory: Identity

  release:
    name: Release
    needs: Format
    permissions:
      contents: write
    if: github.ref == 'refs/heads/main'
    uses: ./.github/workflows/create-release.yaml
    with:
      project-directory: Identity
      project-name: identity

  deploy:
    name: Deploy
    needs: Release
    if: github.ref == 'refs/heads/main'
    uses: ./.github/workflows/deploy-release.yaml
    secrets: inherit
    with:
      dockerfile: ./Identity/Dockerfile
      project-name: identity
      version: ${{ needs.release.outputs.version }}
