@use 'colors';

:host {
  display: flex;

  opacity: 90%;
}

.expanded {
  display: flex;
  flex-direction: column;
  flex: 1;

  width: 20rem;

  background-color: colors.$card-background;
  border-left: 1px solid colors.$border;
}

.collapsed {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  min-width: 2rem;

  background-color: colors.$card-background;
  border-left: 1px solid colors.$border;

  color: colors.$text-muted;

  cursor: pointer;
}

.collapsed:hover {
  background-color: colors.$card-background-secondary;
  color: colors.$text-header-prefix;
}
